.header {
  display: flex;
  justify-content: space-between;
}
.header {
  margin: 0.8rem 0;
}
.headerMenu a {
  display: inline-block;
  text-decoration: none;
  color: #0b0c10;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: var(--roboto);
  font-size: 0.8rem;
}
.headerMenu a:hover {
  color: var(--primaryColor);
}
.headerMenu a + a {
  margin: 0rem 0.5rem;
}
.socialMedia a {
  text-decoration: none;
}
.socialMedia .margiN {
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.socialMedia a i {
  color: var(--titleColor);
}
.socialMedia a i:hover {
  color: var(--primaryColor);
}
.fa-bars,
.fa-times {
  display: none;
}
/* Making the header responsive */
@media screen and (max-width: 800px) {
  .fa-bars,
  .fa-times {
    position: absolute;
    cursor: pointer;
    right: 2.5rem;
    color: #0b0c10;
    /* float: right;*/
    font-size: 2rem;
    /* margin: 0rem 1rem; */
    display: block;
    top: 0.5rem;
  }
  .header {
    display: none;
    /* left: -100%; */
    transition: all 0.3s linear;
  }
  .header.active {
    display: block;
    /* left: 0; */
    text-align: center;
    transition: all 0.3s ease;
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* color: whitesmoke; */
  }
  .headerMenu {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    margin: 4rem 0;
  }
  .headerMenu a {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .socialMedia a {
    font-size: 1.5rem;
  }
}
