@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --montserrat: "Montserrat", sans-serif;
  --opensans: "Open Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
  --livvic: "Livvic", sans-serif;
  --primaryColor: #6599ff;
  --bgColor: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  --titleColor: #565673;
}
